h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.btn{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.tab-content{
    margin-bottom: 20px;
}

.custom-control{
    font-weight: bold;
}

.form-group{
    font-weight: bold;
}

.row{
    margin-top: 1.5em;
    margin-bottom: 1em;
}
