h3 {
    margin-bottom: 0.5em;
}

#formBtn{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.tab-content{
    margin-bottom: 20px;
}

.custom-control{
    font-weight: bold;
}

.form-group{
    font-weight: bold;
}

#rowForm{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#rowCheckBtn{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.col-sm-6{
    margin-left: 1em;

}

.imgFrame{
    border: 2px solid grey;
    background-color: white;
    overflow: hidden;
}

img{
    max-height: 200px;
    z-index: -1;
}

#uploadPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color: red;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
@media (max-width:575px){
    #home{
        padding:5px;
    }
    .col-sm-6{
        padding-left: 0px;
    }
}