html, body {
    background-color: black;
}
/* navi-index hack */
.row{
    margin: 0px;
    flex-grow: 1;
}
.form-index {
    float:right;
    margin-top: 10px;
}
/* padding-box */
.box  {
    padding: 50px 0px 0px 0px;
}

#commit{
    max-width: 400px;
    padding: 10px 10px 10px 10px;
}

/* Animation of the Quote */
/* Standard */
@keyframes top-fade {
    from { opacity: 0;
           transform: translateY(+3rem);
         }
    to   { opacity: 1;
           transform: translateY(0);
         }
}
/* Firefox < 16 */
@-moz-keyframes top-fade {
    from { opacity: 0;
           transform: translateY(+3rem);
         }
    to   { opacity: 1;
           transform: translateY(0);
         }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes top-fade {
    from { opacity: 0;
           transform: translateY(+3rem);
         }
    to   { opacity: 1;
           transform: translateY(0);
         }
}
/* Internet Explorer */
@-ms-keyframes top-fade {
    from { opacity: 0;
           transform: translateY(+3rem);
         }
    to   { opacity: 1;
           transform: translateY(0);
         }
}


/* Animation of the whole Site */
/* Standard */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.form-inline{
    margin-top: auto;
    margin-bottom: inherit;
}

/*Suche*/
.suche{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: 40px;
}
.form-inline .form-control{
    width: 55%;
}
.suche .form-inline{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Autocomplete Design */
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 5px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#suchBar{
    border-radius: 5px;
}
