/* cards */
.card{
    transition: box-shadow .3s;
    border: 1px solid darkgrey;
    border-radius: 0.5em;
    background: rgba(245, 245, 245);
    padding: 0.5em;
    margin: 20px;
    transition: transform 0.5s, background 0.5s;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.card-text{
    font-size: 0.7em;
}
.card i {
    font-size: 5em;
    margin-top: 5px;
}


/* Autocomplete Design */
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 6px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  padding-top: 3px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 5px;
  border-color: white;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#suchBar{
    border-radius: 5px;
    border: 1px solid darkgrey;
}
